/*PC*/

@media (min-width:1024px) {
    .hide-nav-mobile {
        display: none;
    }
    .box::before {
        height: 245px;
        bottom: -100px
    }
    .bg-guide::before {
        top: -255px;
        height: 260px;
    }
    .bg-guide:after {
        bottom: 340px;
        top: 5px;
    }
    .bg-feedback {
        margin: 110px 0 130px;
    }
    .bg-feedback::before {
        height: 250px;
        top: -240px;
    }
    .bg-feedback::after {
        height: 185px;
        bottom: -175px;
    }
    .bg-branch {
        padding: 70px 0 40px;
    }
    .footer__mid .footer__one {
        width: 43%;
    }
    .footer__mid>div {
        width: calc((100% - 43%) / 3);
        margin-bottom: 30px;
        padding-right: 20px
    }
}


/*Mobile-tablet*/

@media (max-width:1023px) {
    .nav__logo {
        max-width: 150px;
    }
    .nav__menu__mobile {
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--primary-color);
        padding-top: 50px;
        z-index: 999;
        transform: translateY(-100%);
        transition: all ease 1.5s;
        visibility: hidden;
        overflow: auto;
    }
    .is__show_mobile {
        z-index: 999;
        visibility: initial;
        display: block;
        transform: translateY(0%);
        transform-origin: 50% top;
        transition: all ease 1.5s;
    }
    .nav__menu__mobile-list,
    .nav__register_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav__menu__mobile-link {
        font-size: 1.4rem;
        color: var(--white-color);
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 30px;
        padding: 15px 0;
        position: relative;
    }
    .nav__menu__mobile-link:after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: var(--white-color);
        bottom: 0;
        left: 50%;
        width: 0;
        transform: translateX(-50%);
        border-radius: 5px;
        cursor: pointer;
    }
    .nav__menu__mobile-link:hover:after {
        width: 100%;
        transition: all .3s ease;
    }
    .nav__register_mobile .nav__register-signUp {
        margin-bottom: 20px;
    }
    .content__Home-banner {
        padding: 0 50px;
    }
    .bg-reason {
        background: #cf2c0e;
        background-size: 100% auto;
        position: relative;
        min-height: inherit;
        padding: 30px 0;
        margin: 100px 0 40px;
    }
    .bg-reason::before {
        content: '';
        background-image: url('/assets/img/reason-after1.jpg');
        background-position: center bottom;
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 144px;
        top: -144px;
    }
    .bg-reason::after {
        content: '';
        background-image: url('/assets/img/reason-after2.jpg');
        background-position: center bottom;
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100px;
        bottom: -60px;
    }
    .reason__content-list {
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .reason__content-item {
        width: 100%;
        position: relative;
        margin-bottom: 25px;
    }
    .reason__content-text {
        text-align: justify;
    }
    .reason__content-item::after {
        content: '';
        position: absolute;
        border-bottom: 1px solid var(--white-color);
        width: 50%;
        bottom: -10px;
        transform: translateX(-50%);
    }
    .reason__content-item:last-child::after {
        content: '';
        display: none;
    }
    .nav__mobile {
        color: var(--white-color);
        height: 16px;
        width: 30px;
        position: relative;
        top: 50%;
    }
    .menu-icon {
        transform: translateY(-50%);
    }
    .nav__mobile i {
        border-bottom: 3px solid var(--white-color);
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: all ease 0.5s;
    }
    .nav__mobile i:nth-child(2) {
        top: 50%;
    }
    .nav__mobile i:nth-child(3) {
        top: 100%;
        opacity: 1;
    }
    .is__show .nav__mobile i:nth-child(1) {
        transform: rotate(-45deg);
        width: 90%;
        top: 50%;
    }
    .is__show .nav__mobile i:nth-child(2) {
        transform: rotate(45deg);
        width: 90%;
    }
    .is__show .nav__mobile i:nth-child(3) {
        opacity: 0;
    }
}


/*tablet*/

@media (min-width:740px) and (max-width:1023px) {
    .hide-on-mt {
        display: none;
    }
    .bg-type-1 {
        padding-bottom: 20px;
    }
    .box::before {
        height: 144px;
        bottom: -90px;
    }
    .price__order-ship-title::before {
        border-left: 8px solid transparent;
        border-top: 8px solid var(--primary-color);
        bottom: -8px;
    }
    .price__order-ship-title::after {
        border-right: 8px solid transparent;
        border-top: 8px solid var(--primary-color);
        right: 0;
        bottom: -8px;
    }
    .price-deposit {
        display: flex;
        flex-wrap: wrap;
    }
    .guide__image {
        background-size: 660px auto;
        padding-bottom: 130px;
        padding-top: 70px;
    }
    .guide__iframe-box {
        width: 503px;
        height: 315px;
    }
    .tools__pc {
        margin-bottom: 25px;
    }
    .tools__pc-img,
    .tools__mobile-img {
        max-width: 80px;
    }
    .bg-feedback {
        margin: 109px 0 80px;
    }
    .feedback__person-item {
        display: flex;
        margin-bottom: 15px;
        align-items: center;
    }
    .person__item-image {
        padding-right: 30px;
    }
    .brach__item {
        flex-wrap: wrap;
    }
    .branch__logo {
        max-width: 100%;
    }
    .mb-20 {
        margin-bottom: 20px;
    }
    .footer__link {
        font-size: 1.5rem;
    }
}


/*Mobile*/

@media (max-width:739px) {
    .hide-on-mt {
        display: none;
    }
    .content__Home-text h1 {
        font-size: 2.5rem;
    }
    .bg-type-1 {
        padding-bottom: 0;
        margin-bottom: 50px;
    }
    .box::before {
        height: 100px;
        bottom: -70px;
    }
    .problems__title {
        font-size: 2.4rem;
    }
    .problems__content {
        flex-wrap: wrap-reverse;
        padding: 20px auto 0;
    }
    .problems__content-text {
        padding: 0 20px;
    }
    .content__text-item {
        font-size: 1.5rem;
    }
    .problems__content-image {
        margin-bottom: 20px;
    }
    .service__title {
        font-size: 2.4rem;
    }
    .service__description {
        font-size: 1.8rem;
    }
    .service__list-item {
        margin-bottom: 20px;
    }
    .bg-price-service {
        padding-top: 0;
        margin-top: 40px;
    }
    .problems__title,
    .service__title,
    .price__service-title,
    .reasson_title,
    .register__title,
    .guide__title,
    .tools__title,
    .feedback__title,
    .branch__title {
        font-size: 2.4rem;
    }
    .price__order-ship-title {
        font-size: 1.5rem;
    }
    .price__order-ship-title span {
        display: flex;
        width: 100%;
        margin: 0;
    }
    .price__order-ship-title::before {
        border-left: 4px solid transparent;
    }
    .price__order-ship-title::after {
        border-right: 4px solid transparent;
    }
    .price__order-step-text span {
        display: block;
    }
    .price__order-pay {
        display: block;
        text-align: center;
    }
    .price__order-pay .pay-step {
        align-content: center;
    }
    .price__order-step-text span::before {
        content: '';
        position: relative;
        width: 10px;
        height: 10px;
        background-color: #fdd882;
        border-radius: 100%;
        bottom: 2px;
        display: inline-block;
        margin-right: 10px;
    }
    .price__order-content {
        padding: 20px;
    }
    .pay-step span {
        margin-right: 30px;
    }
    .step p {
        width: calc(100% - 20px);
    }
    .table {
        display: inline-block;
        overflow: auto;
        width: 100%;
        max-width: inherit;
    }
    .table th,
    .table td {
        min-width: 125px;
        text-align: center
    }
    .bg-reason {
        margin-top: 50px;
    }
    .reason__description {
        font-size: 1.6rem;
        font-weight: 400;
    }
    .bg-reason::before {
        height: 145px;
    }
    .bg-reason::after {
        bottom: -25px;
    }
    .bg-register {
        padding-top: 30px;
    }
    .form-radio .form-group {
        padding-left: 15px!important;
    }
    .form-radio .form-group:last-child {
        margin-top: 10px;
    }
    .form-radio::after {
        width: 50%;
        height: 2px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
    }
    .bg-guide {
        margin: 70px 0 0;
    }
    .guide__image {
        background-size: 345px auto;
        padding-bottom: 80px;
        padding-top: 60px
    }
    .guide__iframe-box {
        width: 262px;
        height: 170px;
        right: 0px;
    }
    .bg-guide:after {
        bottom: 144px;
    }
    .tools__description {
        font-size: 1.6rem;
    }
    .tools__pc-imgs,
    .tools__mobile-imgs {
        max-width: 300px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .tools__pc-img,
    .tools__mobile-img {
        max-width: 80px;
    }
    .bg-feedback {
        margin: 109px 0 60px;
    }
    .brach__item {
        flex-wrap: wrap;
    }
    .branch__logo {
        width: 50%;
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .contact {
        display: block;
        text-align: center;
    }
    .contact__title {
        font-size: 2rem;
        display: inline-block;
        margin-bottom: 20px;
    }
    .btn-large {
        font-size: 2.2rem;
    }
    .footer__mid>div {
        text-align: center;
        margin-bottom: 12px;
    }
    .footer__title::after {
        left: 50%;
        transform: translateX(-50%);
    }
    .back-to-top {
        top: 0;
    }
    .back-to-top img {
        max-width: 55px;
    }
}